# Node modules
node_modules

# coverage Tests
__tests__/coverage

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite

yarn.lock
